In [43]:
import pandas as pd
import numpy as np

data = pd.read_csv('InputData.txt')
print(data.shape)
data

(500, 2)

             Z1           Z2
0     8.07+2.49i  0.73+6.58i
1     9.30+2.72i  5.44+8.78i
2     9.23+7.09i  4.40+1.65i
3     4.92+0.42i  9.87+5.03i
4     3.27+7.29i  8.40+6.12i
..           ...         ...
495   0.59+5.77i  6.70+1.51i
496   2.24+0.84i  0.20+0.15i
497   2.19+1.77i  6.95+8.95i
498   6.64+6.00i  1.18+1.17i
499   7.23+6.17i  7.54+5.68i

[500 rows x 2 columns]

In [95]:
# Convert columns to string (if they are not already)
data['Z1 '] = data['Z1 '].astype(str)  # astype(datatype) converts col to desired data type
data[' Z2'] = data[' Z2'].astype(str)

# Replace 'i' with 'j' and convert to complex numbers
data['Z1 '] = data['Z1 '].str.replace('i', 'j').astype(complex)
data[' Z2'] = data[' Z2'].str.replace('i', 'j').astype(complex)

In [97]:
# Adds new col and operates on cols
data['Z1+Z2'] = data['Z1 '] + data[' Z2']
data['Z1-Z2'] = data['Z1 '] - data[' Z2']
data["Z1Z2"] = data['Z1 '] * data[" Z2"]
data["Z1/Z2"] = data['Z1 '] / data[' Z2']
data["Z1^-1"] = 1/data['Z1 ']
data["Z2^-1"] = 1/data[' Z2']

print(data)

            Z1           Z2         Z1+Z2       Z1-Z2              Z1Z2  \
0    8.07+2.49j  0.73+6.58j   8.80+ 9.07j  7.34-4.09j -10.4931+54.9183j
1    9.30+2.72j  5.44+8.78j  14.74+11.50j  3.86-6.06j  26.7104+96.4508j
2    9.23+7.09j  4.40+1.65j  13.63+ 8.74j  4.83+5.44j  28.9135+46.4255j
3    4.92+0.42j  9.87+5.03j  14.79+ 5.45j -4.95-4.61j  46.4478+28.8930j
4    3.27+7.29j  8.40+6.12j  11.67+13.41j -5.13+1.17j -17.1468+81.2484j
..          ...         ...           ...         ...               ...
495  0.59+5.77j  6.70+1.51j   7.29+ 7.28j -6.11+4.26j  -4.7597+39.5499j
496  2.24+0.84j  0.20+0.15j   2.44+ 0.99j  2.04+0.69j   0.3220+ 0.5040j
497  2.19+1.77j  6.95+8.95j   9.14+10.72j -4.76-7.18j  -0.6210+31.9020j
498  6.64+6.00j  1.18+1.17j   7.82+ 7.17j  5.46+4.83j   0.8152+14.8488j
499  7.23+6.17j  7.54+5.68j  14.77+11.85j -0.31+0.49j  19.4686+87.5882j

                  Z1/Z2               Z1^-1               Z2^-1
0    0.508229-1.170060j  0.113144-0.034911j  0.016656-0.150128j
1    0.698090-0.626696j  0.099054-0.028971j  0.050993-0.082301j
2    2.368867+0.723039j  0.068138-0.052340j  0.199253-0.074720j
3    0.412923-0.167883j  0.201782-0.017225j  0.080428-0.040988j
4    0.667344+0.381649j  0.051224-0.114197j  0.077767-0.056659j
..                  ...                 ...                 ...
495  0.268511+0.800679j  0.017538-0.171517j  0.142039-0.032012j
496  9.184000-2.688000j  0.391389-0.146771j  3.200000-2.400000j
497  0.241906-0.056844j  0.276201-0.223231j  0.054126-0.069701j
498  5.379785-0.249448j  0.082907-0.074916j  0.427335-0.423713j
499  1.005003+0.061218j  0.080029-0.068296j  0.084611-0.063739j

[500 rows x 8 columns]